<a href="https://colab.research.google.com/github/RichardOmbina/electric-car-sharing-service-company/blob/master/Richard_Ombina_electric_car_sharing_service_company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Research Question**

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Bonus Questions (Optional)

1 What is the most popular hour for returning cars?

2 What station is the most popular?
 
3 At the most popular picking hour?

4 What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
 
5 At the most popular picking hour?

6 Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [47]:
#importing libraries to be used
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
#loading our dataset
df=pd.read_csv('http://bit.ly/autolib_dataset', encoding='utf-8')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [49]:
df.drop(['Cars','Charging Status','Displayed comment','ID','Geo point','Scheduled at','Subscription status','Charge Slots'],axis=1)

KeyError: ignored

In [11]:
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 17 columns]

In [29]:
#checking for duplicates
df.duplicated().sum()

0

In [12]:
#ensuring consistency among columns
df.columns = df.columns.str.upper()
df.to_csv('New.csv')
df.head()

                              ADDRESS  BLUECAR COUNTER  ...  HOUR  MINUTE
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 17 columns]

ANALYSIS

**Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.**

In [18]:
#loading our cleaned data set
df1=pd.read_csv('New.csv',index_col=0, encoding='utf-8')
df1

                                 ADDRESS  BLUECAR COUNTER  ...  HOUR  MINUTE
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 17 columns]

In [27]:
#
df2=df1[df1['CITY']=='Paris']
df2

                                 ADDRESS  BLUECAR COUNTER  ...  HOUR  MINUTE
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2816 rows x 17 columns]

In [31]:
df3=df2.groupby(['PUBLIC NAME', 'HOUR'])[['BLUECAR COUNTER']].sum()
df3

                               BLUECAR COUNTER
PUBLIC NAME              HOUR
Paris/25 AoÃ»t 1944/8    3                   3
                         5                   0
                         7                   4
                         12                  2
                         18                  2
...                                        ...
Paris/Ãtienne Marcel/36 15                  2
                         20                  0
                         23                  0
Paris/Ãvangile/45       4                   4
                         9                   6

[2580 rows x 1 columns]

In [33]:
#calculating blue car usage by the hour
df3['BLUECAR_USAGE'] = df3['BLUECAR COUNTER'].diff()

df3.head()

                            BLUECAR COUNTER  BLUECAR_USAGE
PUBLIC NAME           HOUR
Paris/25 AoÃ»t 1944/8 3                   3            NaN
                      5                   0           -3.0
                      7                   4            4.0
                      12                  2           -2.0
                      18                  2            0.0

In [35]:
#the negative values represent picked cars
df4 = df3[df3['BLUECAR_USAGE'] < 0]
df4.head()

                            BLUECAR COUNTER  BLUECAR_USAGE
PUBLIC NAME           HOUR
Paris/25 AoÃ»t 1944/8 5                   0           -3.0
                      12                  2           -2.0
                      20                  1           -1.0
Paris/Adolphe Max/6   13                  0           -4.0
Paris/Adolphe Yvon/6  6                   3           -1.0

In [36]:
#grouping our Bluecar dataset by hour
df5 = df4.groupby('HOUR')[['BLUECAR_USAGE']].sum()
df5

      BLUECAR_USAGE
HOUR
0            -111.0
1             -95.0
2            -120.0
3             -77.0
4            -107.0
5             -94.0
6             -73.0
7             -80.0
8            -124.0
9            -109.0
10           -105.0
11            -79.0
12            -86.0
13           -104.0
14           -130.0
15            -99.0
16            -97.0
17            -87.0
18            -94.0
19            -80.0
20            -77.0
21            -84.0
22           -115.0
23            -87.0

In [39]:
#sorting BLUECAR_USAGE by hour
df6=df5.sort_values('BLUECAR_USAGE', ascending=True)
df6

      BLUECAR_USAGE
HOUR
14           -130.0
8            -124.0
2            -120.0
22           -115.0
0            -111.0
9            -109.0
4            -107.0
10           -105.0
13           -104.0
15            -99.0
16            -97.0
1             -95.0
18            -94.0
5             -94.0
17            -87.0
23            -87.0
12            -86.0
21            -84.0
7             -80.0
19            -80.0
11            -79.0
3             -77.0
20            -77.0
6             -73.0

**1400hrs is the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.**